.main_header
    display: grid
<<<<<<< HEAD
    background-color: #ffffff6e
    grid-template-columns: 1fr 4fr 2fr
=======
    background-color: #a5a2a28f
    grid-template-columns: 0.7fr 3fr 0.8fr
>>>>>>> 3ea7b6b8a7feb0957a0b698d5274309a19be0172
    grid-template-rows: 60px
    place-items: center
    position: fixed
    width: 100%
<<<<<<< HEAD
    backdrop-filter: blur(4px)
=======
    backdrop-filter: blur(5px)
>>>>>>> 3ea7b6b8a7feb0957a0b698d5274309a19be0172
    z-index: 2

    ul
        display: grid
        justify-self: start
        grid-auto-flow: column
        list-style: none
<<<<<<< HEAD
        column-gap: 40px
        a
            text-decoration: none
            font-size: 14px
        a.active
            border-bottom: 1px solid red
    .buttongroup
        height: 22px
        button
            font-size: 10px
=======
        column-gap: 60px
>>>>>>> 3ea7b6b8a7feb0957a0b698d5274309a19be0172
