.main_search
    display: grid
    row-gap: 30px
    padding-top: 70px

    header
        font-size: 24px
        text-align: center
        font-weight: bold

    .searchs
        display: grid
        row-gap: 40px
        justify-items: center
        grid-template-columns: repeat(auto-fit , minmax(350px , 1fr))
        // background-image: url("")
        background-repeat: no-repeat
        background-attachment: fixed

        .MuiAutocomplete-root
            width: 80%
