.main_home

<<<<<<< HEAD
=======
        .swiper-slide
                display: grid
                justify-items: center
                align-items: center
>>>>>>> 3ea7b6b8a7feb0957a0b698d5274309a19be0172
        // .swiper-button-prev:after , .swiper-button-next:after
        //     font-size: 20px
