.main_home

        .swiper-slide
                display: grid
                justify-items: center
                align-items: center
        // .swiper-button-prev:after , .swiper-button-next:after
        //     font-size: 20px
